<!-- Name: Kripal Hiteshbhai Pandya
    Project: Final Exam
    Student Number: 8846574
    Date: August 17, 2023
    Email: Kpandya6574@conestogac.on.ca -->

<!-- please see the attached link for Git Repository: https://github.com/HeyyKripal/KripalFinalExam.git -->

    <!DOCTYPE html>
    <html>
    
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>View Orders</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    
    <body>
    
        <h1 id="title">Kripal Pandya/8846574</h1>
    
    <nav class="navigationbar">
    <ul>
      <li><a href="/">Order</a></li>
      <li><a href="/allorders">View Orders</a></li>
    </ul>
    </nav>
    <section>
        <table>
            <thead>
                <tr>
                     <th>Name</th>
                     <th>Student ID</th>
                     <th>Web Components Books</th>
                     <th>Serverless Books</th>
                     <th>Retractable Pencils</th>
                     <th>Subtotal</th>  
                     <th>Tax</th>  
                     <th>Total Amount</th>           
                 </tr>
            </thead>
            <tbody>
                <%
                    for(var order of orders){
                        %>
                            <tr>
                                <td><%= order.name %></td>
                                <td><%= order.studentId %></td> 
                                <td><%= order.webCharge %></td>
                                <td><%= order.serverlessCharge %></td>
                                <td><%= order.pencilCharge %></td>
                                <td>$<%= order.subTotal.toFixed(2) %></td>
                                <td>$<%= order.taxAmount.toFixed(2) %></td>
                                <td>$<%= order.totalAmount.toFixed(2) %></td>
                           </tr>
                        <%
                    }
                %>
           </tbody>
            
        </table>
    </section>
    </body>
    
    <footer>
        © Copyright - Kripal Pandya
      </footer>
    
    </html>